.path_wrapper{

}
.path_wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   height: auto;
   width: auto   
}
.path_wrapper ul{
   display: flex;
}
.path_wrapper ul li{
   list-style: none;
   padding: .5rem;

}